/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 :root {
	--column-size: min(100%, 500px);
	--slider-size: min(100%, 500px);
}

html, body {
	background: rgb(117, 66, 236);
	min-height: 200px;
}

h1, h2, footer {
	margin-top: 25px;
	text-align: center;
}

section {
	margin: 0 auto;
	min-height: 100px;
	background: rgb(300, 150, 0);
}

.desc {
  font-size: xx-large;
  text-align: center;
}

.slider {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	
	width: var(--slider-size);
	margin: 1em auto;
	
	border-radius: var(--slider-border-radius);
}

.slidewrapper {
	flex: 0 0 var(--slider-size);
	width: var(--slider-size);
}

.slide {
	background: rgb(243, 204, 119);
	display: grid;
	place-content: center;
}